

h2 {
  font-size: 32px;
  font-family: helvetica;
  font-weight: bold;
  text-align: center;
}

h1 {
  text-align: center;
  font-weight: bold;
  font-family: helvetica;
  font-size:70px;
  color: white;
}

h3 {
  text-align: center;
  font-family: helvetica;
  font-weight: bold;
  font-size: 23px;
}

h4 {
  font-size: 18px;
  font-family: helvetica;
  text-align: center;
  color: white;
  text-decoration: underline;
}

h5 {
  color: white;
  font-family: helvetica;
}

h7 {
  color: white;
  font-family: helvetica;
}

p {
  text-align: center;
  font-family: helvetica;
  font-size: 14px;
}

.squiggle {
  text-align: center;
}

.circle {
  text-align: center;
}

.arrow {
  text-align: center;
}

.flatiron {
  background-image: url("https://s3.amazonaws.com/codecademy-content/programs/freelance-one/broadway/images/the-flatiron-building.png");
}

.building {
  background-image: url("https://s3.amazonaws.com/codecademy-content/programs/freelance-one/broadway/images/the-flatiron-building.png");
  color: white;
}

.bottom {
  background-color: dimgray;
}
